<%- include('../partials/header'); -%><%- include('../partials/menu', {items: items}); %>
<body>
  <main>
    <div class="" style="background-color: #343a40;">
      <div class="container-fluid" style="padding: 2%; ">
        <form class="" action="/get_feed" method="post">
          <div class="row">
            <div class="col-3">

            </div>
            <div class="col-5">
              <input class="form-control" type="text" name="title" placeholder="Enter Movie Name">
            </div>
            <div class="col-1">
              <input class="btn btn-light" type="submit" name="Submit" value = "Submit"/>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="container-lg" style="margin-top: 2%;">
      <% if (error) { %>
        <div class="alert alert-danger"><%- message %></div>
      <% } %>
      <%
      if (items) {
        <!-- console.log(items) -->
      var cards = '<div class="card-columns">';
        cards += '<div class="card" style="width: 18rem;"><div class="card-body"><img class="card-img" src="'+ items.Poster +'" alt="Card image cap"></div></div>'
        cards += '<div class="card" style="width: 18rem;"><div class="card-body"><h4 class="card-title">' + items.Title + '</h4></div><h5>Cast</h5><p class="card-text">'+ items.Actors +'</p><h5>Genre</h5><p class="card-text">'+ items.Genre +'</p><h5>Plot</h5><p class="card-text">'+ items.Plot +'</p><h5>Release Date</h5><p class="card-text">'+ items.Released +'</p><h5>Ratings</h5>' 
        items.Ratings.forEach(function(items){
            cards += '<p class="card-text">'+ items.Source +': '+ items.Value +'</p>'
            
          });
        cards +='<div class="text-center"><a href="#myModal" class="btn btn-info" data-toggle="modal">Add Review</a></div>'
        
        cards += '</div>'
       %>
        <!-- Iterate the items object & update the cards variable -->
    
    %>
        <%- cards %>
    <% } %>
      
      
      <div id="myModal" class="modal fade">
        <div class="modal-dialog modal-login">
          <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Review</h4>
                <div class="modal-body">
                    <form id="reviewForm" action="/addreviews" method="post">
                    <div class="form-group">
                        <input
                            type="text"
                            class="form-control"
                            name="movie_name"        
                            value="<%= items.Title %>"
                            readonly
                            />
                      
                    </div>
                    <div class="form-group">
                        <input
                          type="text"
                          class="form-control"
                          name="movie_review"
                          placeholder="Review"
                        />
                      </div>
                    <div class="form-group">
                        <button
                          type="submit"
                          id="my_submit_button"
                          class="btn btn-primary btn-block"
                          data-bs-dismiss="modal"
                          aria-label="close_modal">
                          Add Review
                        </button>
                    </form>
                    </div>
                </div>   
            </div>
          </div>
        </div>
      </div> 
    

  </main>
<%- include('../partials/footer'); -%>
